* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans Condensed', sans-serif;
	background-attachment: fixed;
	background: #222;
}

a {
    text-decoration: none;
}
.SearchBar {
	width: 100%;
	background: #353535;
	padding: 15px 0;
    position: relative;
}

.SearchBar form {
	width: 500px;
  	display: block;
  	margin: 0 auto;
}
.SearchBar img {
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-50%);
    filter: invert(0.2);
}
#search-input {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	background: #222;
	color: #ddd;
	
	font-size: 1.5em;
	text-align: center;
	border: none;
	border-radius: 3px;
	padding: 10px;
	box-shadow: 0 0 15px 1px #222;
	transition: all 0.3s;
	outline: none;
}
#search-input:focus {
	box-shadow: 5px 5px 30px 5px #222;
}
.Library {
	width: 60%;
	margin: 50px auto;
}

.Song {

	display: inline-block;
	float: left;
	position: relative;
	box-sizing: border-box;
	width: 22%;
	padding-bottom: 22%;
	margin: 1.5%;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 

	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
  	cursor: pointer;
}

.blur-in {
    -webkit-animation: blur 2s forwards;
    -moz-animation: blur 2s forwards;
    -o-animation: blur 2s forwards;
    animation: blur 2s forwards;
}

.blur-out {
    -webkit-animation: blur-out 2s forwards;
    -moz-animation: blur-out 2s forwards;
    -o-animation: blur-out 2s forwards;
    animation: blur-out 2s forwards;
}

.cd {
	visibility: hidden;
	width: 100%;
	height: 100%;
	position:absolute;
	pointer-events: none;
	transform-origin: 50% 50%;
	transform: translateZ(-8px) translateX(0%);
	transition: all 0.8s;
	transition-timing-function: ease-in-out;
	
}

.cd-spin {
	transform: translateZ(-8px) translateX(50%);
	-webkit-animation: rotation 2s infinite linear;
}
.cd-spin-stop {
	animation: rotation 1s forwards;
}
.cd-slide {
	visibility: visible;
	transform: translateZ(-8px) translateX(50%);
}
.cd-slide-back {
	visibility: hidden;
	transform: translateZ(-8px) translateX(0);
}
.card-content {
	width: 100%;
	height: 100%;
	margin: auto;
}
h3 {
	color: #eee;
	background: rgba(0,0,0,0.5);
	text-shadow:0px 0px 10px #000000, 0px 0px 10px #000000, 0px 0px 10px #000000, 2px 2px 20px #000000, 2px 2px 2px #333333;
	position: absolute;
	top:5px;
	left: 5px;
	transform: translateZ(40px);
	pointer-events: none;
}

.icons {
	opacity: 0;	
	color: white;
	font-size: 80px;
	text-shadow:0px 0px 10px #000000, 0px 0px 10px #000000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateZ(30px) translateY(-50%) translateX(-50%);
	pointer-events: none;
	transition: all 0.5s;
}



.Song:hover .icons {
	opacity: 1;
	font-size: 100px;
	transform: translateZ(50px) translateY(-50%) translateX(-50%);
}


#blur-filter {
	position: absolute;
	width: 100%;
	height:100%;
	z-index: 10;
	top: 0;
	left: 0;
	pointer-events: none;
	filter:url('#blur');
}

.container {
    width: 70%;
    margin: 0 auto;
}
.Player {
    z-index: 1000;
    padding: 1em 0 2em 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: linear-gradient(rgba(17,17,17, 0),rgba(8,8,8, 0.4),rgba(0,0,0, 0.7),rgba(0,0,0, 1));
    transition: 2s all;
}
/*background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;*/


.song-info {
	color: #ccc;
	padding:  0 0 10px 0;
    display: flex;
    align-items: center;
    font-size: 1.3em;
}
#player-soundcloud-logo {
    align-self: flex-start;
    background: rgba(0,0,0,0.5);
    padding: 0 5px;

}
.song-cover {
    flex:2;
    padding: 0;
}
.song-cover img {
    vertical-align: middle;
}
.song-details {
    flex: 8;

}
.song-title a, .song-artist a {
    color: #ddd;
    background: rgba(0,0,0,0.5);
    padding: 0 5px;
}

.song-title, .song-artist {
    text-shadow:0px 0px 10px #000000, 0px 0px 10px #000000, 0px 0px 10px #000000, 2px 2px 20px #000000, 2px 2px 2px #333333;

    margin-bottom: 5px;
}
.song-stats {
    
}
.stat {
    display: inline-block;
    font-size: 0.8em;
    background: rgba(0,0,0,0.5);
    padding: 0 5px;

}
.stat i {
    margin-right: 10px;
    color: #ccc;
}
.player-controls {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.ProgressBar {
    width: 100%;
}
.time {
    position: absolute;
    text-align: right;
    color: rgba(255,119,0,0.8);
    right: 0;
    bottom: 250%;
    cursor: default;
}
.time-line {
    width: 100%;
    height: 1px;
    border-top: 5px solid  transparent;
    border-bottom: 5px solid transparent;
    margin: 20px 0;
    cursor: pointer;
    position: relative;
}

.time-line:before {
  content: "";
  border-top: solid 1px #ccc;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.time-marker {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: orange;
    position: relative;
    top: 50%;
    transform: translate(-50%,-50%);

    -webkit-box-shadow: 0px 0px 51px 19px rgba(255,119,0,1);
    -moz-box-shadow: 0px 0px 51px 19px rgba(255,119,0,1);
    box-shadow: 0px 0px 51px 19px rgba(255,119,0,1);
}
.player-buttons {
    width: 250px;
    display: flex;
}

.player-buttons button{
    flex: 1;
    font-size: 1.2em;
    color: #444;
    background: none;
    cursor: pointer;
    border: 1px solid #444;
    margin-right: 4px;
    outline-color: rgba(255,119,0,0.8);
}

input[type="range"]{
  -webkit-appearance:none;
  width:250px;
  height:1px;
  background: #444;
  background-position:center;
  background-repeat:no-repeat;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:10px;
  height:20px;
  position:relative;
  border: 2px solid #444;
  z-index:3;
  cursor: pointer;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform:translateZ(-8px) translateX(50%) rotate(0deg) ;
		}
		to {
				-webkit-transform:translateZ(-8px) translateX(50%) rotate(359deg) ;
		}
}


@-webkit-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-moz-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-o-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-webkit-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@-moz-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@-o-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}